body {
font-family: Arial, sans-serif;
background-color: #1a1a1a;
color: #fff;
margin: 0;
padding: 0;
}

header {
text-align: center;
padding: 20px;
background-color: #333;
border-bottom: 2px solid #00ff00;
}

header h1, header h2 {
margin: 0;
color: #00ff00;
}

header div {
margin: 10px 0;
}

textarea, input[type="text"] {
width: 80%;
padding: 10px;
margin: 10px 0;
border: none;
border-radius: 5px;
}

button {
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
}

#addNamesButton, #clearSearchButton, #deleteAllButton, #scrollTopButton {
background-color: #007bff;
color: #fff;
}

#scrollTopButton {
position: fixed;
bottom: 20px;
right: 20px;
padding: 5px 10px;
}

#nameListContainer {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 20px;
}

.nameList {
background-color: #f0f0f0;
color: #000;
margin: 10px;
padding: 10px;
border-radius: 5px;
width: 18%;
list-style-type: none;
}

.nameList li {
margin: 5px 0;
}

.nameList button {
background-color: #ff4500;
color: #fff;
margin: 5px 5px 5px 0;
padding: 5px 10px; /* Ajuste do tamanho dos botões */
font-size: 0.8em; /* Reduzindo o tamanho da fonte */
}